*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(images/clock.jpg);
    
}
.header {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 9%;
  margin-top: 18%;
  text-align: center;
  
}
h1{
color: rgb(197, 119, 16);
}
#birthday{
  font-size: 30px;
  padding-top: 15px;
}
